<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <style type="text/css">


        table {
            margin: 50px auto;
            border: solid 1px black;
            width: 800px;
        }
        td{
            border: solid 1px black;
            height: 20px;
            text-align: center;
            line-height: 20px;
            padding: 0;
        }
    </style>
</head>
<script src="/static/jquery-3.3.1.min.js" th:src="@{/jquery-3.3.1.min.js}"></script>

<body>
<h3><a th:href="@{/index/touserForm}">添加</a></h3>
<a  th:href="@{/admin}">去管理员页面</a>
<button th:href="@{/tologin}">退出登录</button>
    <div>
        <table cellpadding="0" cellspacing="0">
            <caption>个人信息表</caption>
            <thead>

                <td>id</td>
                <td>账号</td>
                <td>密码</td>
                <td>邮箱</td>
                <td>操作</td>

            </thead>
            <tbody>
            <tr th:if="${users.size()} eq 0">
                <td th:colspan="5">暂时没有用户信息</td>
            </tr>
            <tr th:each="user:${users}" th:object="${user}">
                <td th:text="*{id}" id="id">1</td>
                <td th:text="*{name}" id="name">赵宇</td>
                <td th:text="*{password}" id="password">123456</td>
                <td th:text="*{email}" id="email">756834111@qq.com</td>
                <td><a th:href="'/index/'+*{id}">修改</a>
                    |
                    <a th:href="'/index/delete/'+*{id}">删除</a></td>
            </tr>
            </tbody>

        </table>
    </div>
</body>
</html>