<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <style type="text/css">
        div {
            margin: 50px auto;
        }

        table {
            width: 200px;
            height: 80px;
        }
    </style>
</head>
<body>
<div>
    <table>
        <thead>
        <th>
        <td>id</td>
        <td>账号</td>
        <td>密码</td>
        <td>邮箱</td>
        <td>操作</td>
        </th>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>赵宇</td>
            <td>123456</td>
            <td>756834111@qq.com</td>
            <td><a href="">修改</a><a href="">删除</a></td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>