<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="/static/jquery-3.3.1.min.js" th:src="@{/jquery-3.3.1.min.js}"></script>
<body>
<form th:action="@{/index/add}" method="post">
    id:
    <input type="text" name="id" th:value="${one.id}" readonly="readonly"><br>
    账号:
    <input type="name" name="username" th:value="${one.username}" readonly="readonly"><br>
    密码:
    <input type="text" name="password" th:value="${one.password}"><br>
    邮箱:
    <input type="email" name="email" th:value="${one.email}"><br>
    <input type="submit" value="修改">
</form>
修改页面
</body>
</html>