<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加</title>
</head>
<body>
<form action="/index/add" th:action="@{/index/add}" method="post">
    <!--id :-->
    <!--<input type="text" name="id" ><br>-->
    账号:
    <input type="text" name="name" th:value="${#dates.format(new java.util.Date().getTime(),'yyMMddhhmmss')}"><br>
    密码:
    <input type="password" name="password" value="123456"><br>
    邮箱:
    <input type="email" name="email" value="7568@qq.com"><br>
    <input type="submit" value="确定">
</form>
</body>
</html>